{% extends 'index.html' %}
{% block body %}
  <div class="container">
    <h1 class="text-center mt-2 mb-4">{{company_name}} careers</h1>
    <div class="row" style="margin-bottom: 16px">
      <div class="col-md-8">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam purus sit amet luctus venenatis lectus magna. Mi quis hendrerit dolor magna eget. Hendrerit gravida rutrum quisque non tellus orci. Pharetra massa massa ultricies mi quis hendrerit dolor magna. Erat velit scelerisque in dictum non consectetur a erat. Duis at consectetur lorem donec. Auctor urna nunc id cursus metus. Nec dui nunc mattis enim ut tellus. Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Libero enim sed faucibus turpis in eu mi.</p>
      </div>
      <div class="d-none d-md-block col-md-4">
        <img src="/static/people.jpg" style="height: 320px; border-radius: 4px;"/>
      </div>
    </div>
    <h2 class="text-center mb-3">Open Positions</h2>
    <div>
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </div>
    <div class="text-center">
      <a href="mailto:hello@megashackle.ai?subject=Questions%20regarding%20Applications&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20Questions%3A%20%3Center%20questions%20here%3E" target="_blank" class="btn btn-primary btn-lg">Contact Us</a>
    </div>
  </div>
{% endblock %}