<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
  <div class="col-11">
    <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">{{ job['title'] }}</h4>
    <div><b>Location</b>: {{ job['location'] }}</div>
    {% if job['salary'] == '' %}
      <div><b>Salary</b>: Undisclosed</div>
    {% else %}
      <div><b>Salary</b>: {{ job['salary'] }}</div>
    {% endif %}
  </div>
  <div class="col-1 align-self-center" style="padding-bottom: 8px;">
    <a href="mailto:hello@megashackle.ai?subject=Application%20for%20{{job['title']}}&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20Resume%20link%3A%20%3Cresume%20link%3E%0D%0AMy%20LinkedIn%20link%3A%20%3Clinkedin%20link%3E%0D%0A" target="_blank" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
</div>