{% extends "home.html" %}
{% block body %}
  <body>
    <div class="container">
      <div>
        <h1 class="text-center mt-2 mb-4">Courses by MegaShackle</h1>
      </div>
      <div>
        <div>
          <h2 class="text-center mb-3">Introduction to Cybersecurity</h2>
          <p class="text-center">Tellus molestie nunc non blandit. Sapien et ligula ullamcorper malesuada proin libero nunc consequat interdum. Mauris sit amet massa vitae tortor condimentum. Lobortis elementum nibh tellus molestie. Elementum facilisis leo vel fringilla est ullamcorper. Mauris in aliquam sem fringilla ut morbi. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Lectus quam id leo in. Vestibulum sed arcu non odio euismod. At augue eget arcu dictum varius duis at consectetur. Lectus urna duis convallis convallis tellus. Augue interdum velit euismod in pellentesque massa. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Posuere urna nec tincidunt praesent semper.</p>
        </div>
        <div>
          <h2 class="text-center mb-3">Introduction to DevOps</h2>
          <p>In ornare quam viverra orci. Viverra vitae congue eu consequat ac. Tristique risus nec feugiat in fermentum posuere urna nec tincidunt. Tincidunt id aliquet risus feugiat in ante metus dictum at. Amet volutpat consequat mauris nunc congue nisi vitae. Fames ac turpis egestas maecenas pharetra convallis. Pellentesque pulvinar pellentesque habitant morbi. Dictum sit amet justo donec enim diam vulputate ut pharetra. Egestas erat imperdiet sed euismod nisi porta. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Non odio euismod lacinia at quis risus. Sed risus ultricies tristique nulla.</p>
        </div>
        <div>
          <h2 class="text-center mb-3">Introduction to Containerization</h2>
          <p>In ornare quam viverra orci. Viverra vitae congue eu consequat ac. Tristique risus nec feugiat in fermentum posuere urna nec tincidunt. Tincidunt id aliquet risus feugiat in ante metus dictum at. Amet volutpat consequat mauris nunc congue nisi vitae. Fames ac turpis egestas maecenas pharetra convallis. Pellentesque pulvinar pellentesque habitant morbi. Dictum sit amet justo donec enim diam vulputate ut pharetra. Egestas erat imperdiet sed euismod nisi porta. Quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Non odio euismod lacinia at quis risus. Sed risus ultricies tristique nulla.</p>
        </div>
      </div>
    </div>
  </body>
{% endblock %}